<md-toolbar color="primary">
    <span>AWS Free Tier Monitor</span>
</md-toolbar>

<md-card (click)="onCardClick()" *ngIf="numInstances > 0">
    <md-card-header>
        <div class="resourceCardTitle">
            <md-card-title>
                <i [ngClass]="arrowIcon"></i>
                <span class="resourceName">{{ resourceName | uppercase }}</span>
                <span class="resourceFreeTier">
                    {{ isFreeTierCompliant }}
                    <i [ngClass]="freeTierCompliantIcon"></i>
                </span>
            </md-card-title>
        </div>
    </md-card-header>
    <table [ngClass]="instancesClassName" *ngIf="showInstances">
        <thead>
            <tr>
                <th>Instance ID</th>
                <th>Instance Type</th>
                <th>State</th>
                <th>Free Tier</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of instances">
                <td>{{i['InstanceId']}}</td>
                <td>{{i['InstanceType']}}</td>
                <td>{{i['State']}}</td>
                <td>{{i['FreeTier']}}</td>
            </tr>
        </tbody>
    </table>
</md-card>